@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", SansSerif;
}

body {
  background-color: #BAC7CE;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background-color: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.5);
}

.container .left_Side {
  position: relative;
  background-color: #304145;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgBx img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  width: 100%;
  height: auto;
}

.imgBx:hover .photo2 {
  display: inline;
  position: absolute;
}

.profileText h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.contactInfo {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contactInfo.education h6 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  list-style: none;
  position: relative;
  margin: 10px 0;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #B29155;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}

.contactInfo a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.contactInfo a:hover {
  color: #B29155;
  text-decoration: underline;
}

.contactInfo.education li {
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #B29155;
  font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contactInfo.education h4 {
  color: #fff;
  font-weight: 300;
}

.contactInfo.language ul li .fa {
  color: #B29155;
  font-size: 18px;
  width: 20px;
}

.contactInfo.language ul li .iconify {
  color: #B29155;
  font-size: 18px;
  width: 20px;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #081921;
  display: block;
  margin-top: 5px;
}

.contactInfo.language .percent div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #03a9f4;
}

.container .right_Side {
  position: relative;
  background-color: #fff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #304145;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.year_company a {
  color: #848c90;
  text-decoration: none;
}

.year_company a:hover {
  color: #B29155;
  text-decoration: underline;
}

p {
  color: #081921;
}

.projects a {
color: #081921;
  font-size: 12px;
  text-decoration: none;
}

.projects a:hover {
  color: #B29155;
  text-decoration: underline;
}


.about .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #B29155;
  font-size: 16px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 175px 1fr;
  justify-content: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #f0f0f0;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #B29155;
}

.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
  list-style: none;
  color: black;
  font-weight: 500;
  margin: 10px 0;
}

.interest ul li .iconify {
  color: #B29155;
  font-size: 18px;
  width: 20px;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about .box {
    flex-direction: column;
  }

  .about .box .year_company {
    margin-bottom: 5px;
  }

  .interest ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}

.htmlskill {
  width: 80%;
}

.cssskill {
  width: 60%;
}

.jsskill {
  width: 25%;
}

.wpskill {
  width: 50%;
}

.seoskill {
  width: 90%;
}

.socialskill {
  width: 75%;
}

.collabskill {
  width: 100%;
}
